@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    margin: 10% auto;
    border-radius: 5px;
    width: 30%;

    background-color: rgb(253, 253, 253);
  }
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup {
  width: 50%;
  padding: 60px 60px;
  margin: 10% auto;
  border-radius: 5px;
  background-color: rgb(253, 253, 253);
}
